<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ApiKey" value="QwXKbd56nACrY0oGgmTdCmP9" />
    <add key="SecretKey" value="OMgWwHDW8G3SvCVtjIaWv08s7u3GCgm6" />
    <add key="ChannelId" value="3791511542288661823" />
    <add key="UserId" value="719157771990524960" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>